
body{
	background-repeat: repeat;
	background-color: #222222;
}

.navbar-default{
	/* height: 35px; */
	background-color: #333333;
	/* color: #dddddd; */
}
/* 
.navbar-brand{
	color: #dddddd;
} */
.navbar-default .navbar-brand{
	/* background-color: #4aaaa5; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 38px;
	font-weight: bold;
	color:#eeeeee;
}

.navbar-default:hover .navbar-brand:hover {
	/* background-color: #4aaaa5; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 38px;
	font-weight: bold;
	color:#eeeeee;
}

.mynav-head{
	font-size: 14px;
	float: left;
	/* color: #dddddd; */
}

.navbar-default .navbar-nav > li > a {
	color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #cccccc;
}

/* .mynav-head:hover{
	background-color: #666666;
} */
.content-space{
	margin-left: -15px;
	margin-right: -10px;
}
.mainCol{
	background-color: #333333;
	padding: 20px;
	border: 3px solid #666666;	
	margin-bottom: 100px;
}

.sideCol{
	background-color: #333333;
	padding: 20px;
	border: 3px solid #666666;	
	margin-bottom: 100px;
}

.subHeading{
	color: #aaaaaa;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 32px;
	padding:5px;
	font-weight: bold;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	margin: 5px 15px 15px 15px;
}

.profilepic{
	float: left;
	height: 300px;
	width: 300px;
	margin: 10px 15px 0px 10px;
	padding: 5px;
}

.bioWriteUp{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	color: #aaaaaa;
}

.subHeading2{
 color: #aaaaaa;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 24px;
 padding:5px;
 font-weight: bold;
 border-bottom-color: #666666;
 border-bottom-style: solid;
 border-bottom-width: 3px;
 text-align: center;
 margin: 15px;
}

.subHeading4{
	color: #aaaaaa;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
	padding:5px;
	text-align: left;
	margin: 15px;
 }

#icon1, #icon2, #icon3 {
	width: 60px;
	height: 60px;
	/* margin: 5px; */
	float: left;
}

#icon1:hover, #icon2:hover, #icon3:hover {
	width: 70px;
	height: 70px;
	margin: -5px;
}

.myForm{
	padding:15px;
}

.btn-default{
	background-color: #aaaaaa;
	color: #333333;
}


/* #portfoliopic{
	height: 300px;
	width: 600px;
	padding: 20px;
	display: block;
	margin:5px 10px 5px 50px;
} */

footer{
	width: 100%;
	clear: both;
	text-align: center;
	position: fixed;
	bottom: 0px;
	height: 75px;
	background-color: #666666;
	color: #dddddd;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	margin-left: -15px;
}

@media only screen and (max-width: 780px){
	.navbar-default .navbar-brand{
		/* background-color: #4aaaa5; */
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
		font-weight: bold;
		color:#eeeeee;
	}

	.navbar-default .navbar-brand:hover {
		/* background-color: #4aaaa5; */
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 24px;
		font-weight: bold;
		color:#eeeeee;
	}

	.subHeading{
		color: #aaaaaa;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 20px;
		padding:5px;
		font-weight: bold;
		border-bottom-color: #666666;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		margin: 5px 15px 15px 15px;
	}
	
	.subHeading2{
		color: #aaaaaa;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		padding:5px;
		font-weight: bold;
		border-bottom-color: #666666;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		text-align: center;
		margin: 15px;
	 }
	 
	 .subHeading4{
		color: #aaaaaa;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 16px;
		padding:5px;
		text-align: left;
		margin: 15px;
	 }
	
	 .bioWriteUp{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.3px;
		text-align: justify;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;
		color: #aaaaaa;
	}
	
}

@media only screen and (max-width: 640px){
	.navbar-default .navbar-brand{
		/* background-color: #4aaaa5; */
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 20px;
		font-weight: bold;
		color:#eeeeee;
	}

	.navbar-default .navbar-brand:hover {
		/* background-color: #4aaaa5; */
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 20px;
		font-weight: bold;
		color:#eeeeee;
	}

	.subHeading{
		color: #aaaaaa;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		padding:5px;
		font-weight: bold;
		border-bottom-color: #666666;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		margin: 5px 15px 15px 15px;
	}

	.subHeading2{
		color: #aaaaaa;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 16px;
		padding:5px;
		font-weight: bold;
		border-bottom-color: #666666;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		text-align: center;
		margin: 15px;
	 }

	 .subHeading4{
		color: #aaaaaa;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 15px;
		padding:5px;
		text-align: left;
		margin: 15px;
	 }
	
	 .bioWriteUp{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.2px;
		text-align: justify;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;
		color: #aaaaaa;
	}
		 
}
